[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cssselect = "==1.0.3"
lxml = "==4.3.4"
Shapely = "==1.6.4.post2"
geojson-rewind = "==0.1.1"

[dev-packages]

[requires]
python_version = "3.7"
