#map {
    path {
        cursor: pointer;
        stroke-width: 1;

        &:hover {
            fill-opacity: 0.8;
        }
    }

    display: flex;
    flex-grow: 1;
    height: 800px;
    min-width: 600px;
    padding: 1em;
}

#menu {
    table {
        &.bounded {
            th {
                border-bottom: 1px solid #000;
            }

            td {
                border-top: 1px solid #000;
            }
        }

        td {
            width: 10em;
        }

        tfoot {
            font-weight: bold;
        }

        border-collapse: collapse;
        vertical-align: middle;
    }

    .label {
        text-align: right;
    }

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 600px;
    padding: 1em;
}

#sum {
    border-bottom: 3px double #000;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

input {
    margin: 0.25em;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0.5em;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}
